<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>uimaker信息管理系统</title>
    <link href="/statics/css/base.css" rel="stylesheet">
    <link href="/statics/css/platform.css" rel="stylesheet">
    <link rel="stylesheet" href="/statics/custom/uimaker/easyui.css">

    {% block css %}{% endblock%}

</head> 
<body>

    {% block body %}{% endblock%}

    <script type="text/javascript" src="/statics/custom/jquery.min.js"></script>
    <script type="text/javascript" src="/statics/custom/jquery.easyui.min.js"></script>
    <!-- <script type="text/javascript" src="js/menu.js"></script> -->
    <script type="text/javascript" src="/statics/js/main.js"></script>

    {% block js %}{% endblock%}

    <!--[if IE 7]>
      <script type="text/javascript">
        $(window).resize(function(){
          $('#pf-bd').height($(window).height()-76);
        }).resize();

      </script>
    <![endif]-->

    <script type="text/javascript">

        function select_tab(nodeText) {
            //$('.easyui-tabs1').tabs('select', nodeText);
            if ($('.easyui-tabs1').tabs('exists', nodeText)){
                $('.easyui-tabs1').tabs('select', nodeText);
            } else {
                $('.easyui-tabs1').tabs('add', {
                    title: nodeText,
                    //iconCls: node.iconCls,
                    closable:  true,
                    href: '/cmdb/test1/',
                });
            }
        }

    $('.nav_node').click()

    $('.easyui-tabs1').tabs({
      tabHeight: 44,
      onSelect:function(title,index){
        var currentTab = $('.easyui-tabs1').tabs("getSelected");
        if(currentTab.find("iframe") && currentTab.find("iframe").size()){
            currentTab.find("iframe").attr("src",currentTab.find("iframe").attr("src"));
        }
      }
    })

    $(window).resize(function(){
          $('.tabs-panels').height($("#pf-page").height()-46);
          $('.panel-body').height($("#pf-page").height()-76)
    }).resize();

    var page = 0,
        pages = ($('.pf-nav').height() / 70) - 1;

    if(pages === 0){
      $('.pf-nav-prev,.pf-nav-next').hide();
    }

    $(document).on('click', '.pf-nav-prev,.pf-nav-next', function(){

      if($(this).hasClass('disabled')) return;
      if($(this).hasClass('pf-nav-next')){
        page++;
        $('.pf-nav').stop().animate({'margin-top': -70*page}, 200);
        if(page == pages){
          $(this).addClass('disabled');
          $('.pf-nav-prev').removeClass('disabled');
        }else{
          $('.pf-nav-prev').removeClass('disabled');
        }

      }else{
        page--;
        $('.pf-nav').stop().animate({'margin-top': -70*page}, 200);
        if(page == 0){
          $(this).addClass('disabled');
          $('.pf-nav-next').removeClass('disabled');
        }else{
          $('.pf-nav-next').removeClass('disabled');
        }

      }
    })

    </script>

</body> 
</html>
