<link rel="stylesheet" href="/statics/css/providers1.css">

<style scoped="scoped">
    .tt-inner{
        display:inline-block;
        line-height:12px;
        padding-top:5px;
    }
    .tt-inner img{
        border:0;
    }
</style>


<div id="manager" style="width: 100%;"></div>

<div id="manage_toolbar" style="padding:0px;">
    <!--<div style="margin-bottom:5px">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="manager_tool.add()">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="manager_tool.edit()">编辑</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true">保存</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="manager_tool.remove()">删除</a>
    </div>-->

    <div class="opt-buttons" style="margin-left: 20px; padding: 5px 0">
        <select id="search_object" class="easyui-combobox" editable="false" style="height:35px;width:100px;">
            <option value="ip">IP地址</option>
            <option value="idc">IDC</option>
            <option value="admin">运维人</option>
            <option value="user">使用人</option>
        </select>
        <select id="search_operator" class="easyui-combobox" editable="false" style="height:35px;width:166px;">
            <option value="exact">精确匹配</option>
            <option value="like">模糊匹配</option>
        </select>
        <input id="search_value" class="easyui-textbox" type="text" prompt="请输入搜索内容" style="width:166px;height:35px;line-height:35px;"></input>
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" data-options="selected:true" onclick="search_func()">查询</a>
        <a href="#" class="easyui-linkbutton more" iconCls="icon-more">批量查询</a>
        <a href="#" class="easyui-linkbutton more" iconCls="icon-reload" onclick="load_default_data()">重置</a>
        <!--<a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="manager_tool.option_admin()">运维事件</a>-->
        <a href="#" class="easyui-linkbutton">Excel导出</a>
        <a href="#" id="data_management_btn" class="easyui-linkbutton" iconCls="icon-data-management" onclick="data_management_tools.open()">数据维护</a>
    </div>

    <div id="add_search" style="display:none">
        <div id="" class="opt-buttons" style="margin-left: 20px;">
            <select class="easyui-combobox" editable="false" style="height:35px;width:100px;">
                <option>IP地址</option>
                <option>IDC</option>
                <option>运维人</option>
                <option>使用人</option>
            </select>
            <select class="easyui-combobox" editable="false" style="height:35px;width:166px;">
                <option>精确匹配</option>
                <option>模糊匹配</option>
            </select>
            <input class="easyui-textbox" type="text" prompt="请输入搜索内容" name="code" style="width:166px;height:35px;line-height:35px;"></input>
        </div>
        <div id="" class="opt-buttons" style="margin-left: 20px;">
            <select class="easyui-combobox" editable="false" name="ip" style="height:35px;width:100px;">
                <option>IP地址</option>
                <option>IDC</option>
                <option>运维人</option>
                <option>使用人</option>
            </select>
            <select class="easyui-combobox" editable="false" name="language" style="height:35px;width:166px;">
                <option>精确匹配</option>
                <option>模糊匹配</option>
            </select>
            <input class="easyui-textbox" type="text" prompt="请输入搜索内容" name="code" style="width:166px;height:35px;line-height:35px;"></input>
        </div>
    </div>

    <div id="data_management" class="opt-buttons" style="margin: 0 0 10px 20px; display: none">
        <a href="#" class="easyui-linkbutton" iconCls="icon-excel" onclick="excel_upload_tools()">Excel导入</a>
        <a id="manager_edit_btn" href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="manager_edit_tools.edit()">数据编辑</a>
        <span id="manager_edit_toolbar" style="display: none">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="manager_edit_tools.save()">保存</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="manager_edit_tools.reject()">取消</a>
        </span>
    </div>

</div>

<form id="manager_add" style="margin:0px; padding:5px 0 5px 25px">
    <p>用户账号：<input class="easyui-textbox" type="text" name="username" style="margin:5px; height:18px;"></input></p>
    <p>用户密码：<input class="easyui-textbox" type="password" name="password" style="margin:5px; height:18px;"></input></p>
    <p>用户邮箱：<input class="easyui-textbox" type="text" name="email" style="margin:5px; height:18px;"></input></p>
</form>

<form id="manager_edit" style="margin:0px; padding:5px 0 5px 25px">
    <input type="hidden" name="id_edit"></input>
    <p>用户账号：<input class="easyui-textbox" type="text" name="username_edit" style="margin:5px; height:18px;" disabled></input></p>
    <p>用户密码：<input class="easyui-textbox" type="password" name="password_edit" style="margin:5px; height:18px;"></input></p>
    <p>用户邮箱：<input class="easyui-textbox" type="text" name="email_edit" style="margin:5px; height:18px;"></input></p>
</form>

<div id="modal_option_admin" class="easyui-window" title="创建运维事件" data-options="modal:true,closed:true,iconCls:'icon-save'" style="width:500px;height:240px;padding:10px;">
    <div class="easyui-tabs" data-options="tabWidth:100,tabHeight:60,border:false">
        <div title="<span class='tt-inner'><img src='/astatics/images/user.png'/><br>服务管理</span>" style="padding:10px">
            <div id="data_management" class="opt-buttons" style="margin: 10px 0 0 0">
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="manager_tool.add()">单项添加</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="manager_tool.add()">批量添加</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="manager_tool.add()">单项编辑</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="manager_tool.add()">全局编辑</a>
            </div>
            <div id="data_management" class="opt-buttons" style="margin: 10px 0 0 0">
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="manager_tool.add()">单项添加</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="manager_tool.add()">批量添加</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="manager_tool.add()">单项编辑</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="manager_tool.add()">全局编辑</a>
            </div>
        </div>
        <div title="<span class='tt-inner'><img src='images/scanner.png'/><br>软件管理</span>" style="padding:10px">
            <p>In computing, an image scanner—often abbreviated to just scanner—is a device that optically scans images, printed text, handwriting, or an object, and converts it to a digital image.</p>
        </div>
        <div title="<span class='tt-inner'><img src='images/pda.png'/><br>Pda</span>" style="padding:10px">
            <p>A personal digital assistant (PDA), also known as a palmtop computer, or personal data assistant, is a mobile device that functions as a personal information manager. PDAs are largely considered obsolete with the widespread adoption of smartphones.</p>
        </div>
        <div title="<span class='tt-inner'><img src='images/tablet.png'/><br>Tablet</span>" style="padding:10px">
            <p>A tablet computer, or simply tablet, is a one-piece mobile computer. Devices typically have a touchscreen, with finger or stylus gestures replacing the conventional computer mouse.</p>
        </div>
    </div>
</div>

<div id="modal_server_detail" class="easyui-window" data-options="modal:true,closed:true,iconCls:'icon-save'" style="width:70%;height:710px;padding:10px;">
    <div id="server_detail_html"></div>
</div>

<form id="excel_upload" style="margin:0px; padding:15px" enctype="multipart/form-data">
    <p><input id="fb" type="text" name="file" style="margin:5px; height:18px;"></p>
    <p style="margin-top: 5px">支持文件类型：.xls .xlsx .xlsm</p>
</form>

<script type="text/javascript" src="/statics/js/cmdb_index.js"></script>